:root {
  --primary-color: #003049;
  --secondary-color: #d62828;
  --tertiary-color: #f77f00;
  --quaternary-color: #fcbf49;
  --quinary-color: #eae2b7;
  --black-color: #333;
  --white-color: #fff;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--quaternary-color);
  text-decoration: underline;
}
a:hover {
  color: var(--secondary-color);
  text-decoration: dashed underline;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  padding: 20px 0;
  display: flex;
  background-color: var(--primary-color);
  color: var(--white-color);
}

section {
  display: flex;
  flex-direction: column;
}
section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
  position: relative;
}

section h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  position: relative;
  background-color: var(--secondary-color);
  margin-bottom: 10px;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin-left: 20px;
}

#my-classes ul li {
  list-style: lower-roman;
  color: var(--black-color);
}

#fav-movies {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
#fav-movies ol {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#fav-movies ol li {
  color: var(--black-color);
  list-style: none;
  display: flex;
  flex-direction: column;
}
#fav-movies ol li a {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
#fav-movies ol li a img {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  border: 5px solid var(--white-color);
  transition: box-shadow 0.3s ease-in-out;
}
#fav-movies ol li a:hover img {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

#my-mood {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

#my-mood .mood-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#my-mood .mood-wrapper > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  gap: 10px;
}
#my-mood .mood-wrapper > div span {
  font-weight: bold;
  font-size: 1rem;
}

#my-mood .mood-wrapper img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid var(--white-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
#validator div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 20px 0;
}

footer {
  padding: 20px 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
}
