:root {
  --primary: #145156;
  --secondary: #08c;
  --black: #000;
  --light-grey: #f3f3f3;
  --grey: #e8e8e8;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;

}

a{
  color: var(--secondary);
  text-decoration: none;
}
a:hover{
  color: var(--primary);
}

header{
    height: 60px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .logo{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

}

header .logo h1 {
  border-left: 2px solid var(--black);
  padding-left: 20px;
  font-size: 20px;
}

header .nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul{
  display: flex;
  gap: 20px;
  margin-right: 10px;
}
ul li{
  display: flex;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: var(--black);
  font-size: 14px;
}
ul li a:hover{
  color: var(--secondary);
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
main{
  background-color: #f3f3f3;
}

main > h1{
  text-align: center;
  background-color: var(--primary);
  color: var(--white);
  padding: 50px;
}


.wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px 0;
}
.wrapper > div {
  max-width: 500px;
}

.wrapper .left{
  width: 50vw;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px;
}
.wrapper .left h2{
  color: var(--primary);
}
.wrapper .line{
  width: 2px;
  background-color: var(--grey);
}
.wrapper .left > span{
  text-align: center;
  position: relative;
  color: #ddd;
  font-size: 14px;
}
.wrapper .left > span::before{
  content: "";
  width: 125px;
  position: absolute;
  height: 2px;
  left: 0;
  top: 10px;
  background-color: var(--grey);
}
.wrapper .left > span::after{
  content: "";
  width: 125px;
  position: absolute;
  height: 2px;
  right: 0;
  top: 10px;
  background-color: var(--grey);
}


.wrapper .right{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.wrapper .right p {
  line-height: 1.4;
}

.wrapper .right .btn{
  width: 150px;
}

.btn{
  background-color: var(--black);
  color: var(--white);
}

button{
  padding: 10px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  background-color: var(--white);
  cursor: pointer;
  outline: none;
}
button img{
  height: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form .form-footer{
  display: flex;
  justify-content: space-between;
  
}
form .form-footer label{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.form-footer label > input{
  margin: 0;
}
form .form-footer label span{
  white-space: nowrap;
}

input{
  width: 100%;
  padding: 10px 15px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  font-size: 18px;
}


footer{
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  background-color: var(--light-grey);
  padding: 10px;
  flex-direction: row;
}
footer >div{
  font-size: 14px;
  color: #333;
}

.validate{
  margin-top: 20px;
}